.Products {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin: 0 2% 0 0;
  width: 90%;
  border: 1px solid black;
}
hr {
  background-color: gray;
  color: gray;
}
.text {
  display: flex;
  justify-self: center;
  text-align: center;
}
